{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent() }} :: Edition{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        {% if idSerie is not empty %}
            {{ render(controller(
                'App\\Controller\\SerieController::detail', {id : idSerie, partial: true}
            )) }}
        {% endif %}
        <div class="col-12 col-xl-6">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}